<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>SSM Example</title>
  <link rel="stylesheet" th:href="@{/static/css/tailwind.css}">
  <link rel="stylesheet" th:href="@{/static/css/style.css}">
</head>
<body class="font-source-sans font-normal text-black leading-normal">
<div class="h-full flex items-center justify-center">
  <div class="w-full max-w-xs">
    <form th:action="@{/login}" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
          用户名
        </label>
        <input id="username" type="text" name="username"
               class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
               placeholder="Username">
      </div>
      <div class="mb-6">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
          密码
        </label>
        <input id="password" type="password" name="password"
               class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
               placeholder="Username"/>
      </div>
      <div th:if="${param.error}" class="pb-3 flex items-center justify-center">
        <span class="text-red">用户名或密码错误</span>
      </div>
      <div class="flex items-center justify-between">
        <input
            class="w-full bg-teal hover:bg-teal-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer"
            type="submit" value="登录"/>
      </div>
    </form>
  </div>
</div>
</body>
</html>